@import 'vars';
@import 'mixins';
.filter-block {
    height: 133px;
}

.filter {
    @include d-flex-center(flex-start);
    height: 100%;
    gap: 30px;
    &-left {
        width: 360px;
        @include d-flex-center(flex-start);
        gap: 10px;
        position: relative;
        @include text-wider(14px);
        color: $colorPrimary900;
        &-details {
            position: absolute;
            width: 360px;
            background-color: #fff;
            z-index: 2;
        }
        &-category {
            @include text-normal(14px);
            color: $colorPrimary300;
            padding: 18px 0;
        }
    }
    &-right {
        @include d-flex-center(flex-start);
        gap: 30px;
        @include text-normal(14px);
        color: $colorPrimary300;
    }
}

.pagination {
    width: 360px;
    align-self: center;
    @include d-flex-center(space-between);
    @include text-thin(16px);
    color: $colorPrimary300;
}