@import 'vars';
@import 'mixins';
.main {
    margin-bottom: 65px;
    background-color: $colorSecondary100;
    height: 764px;
    &-block {
        height: 100%;
        display: flex;
    }
    &-left {
        align-items: start;
    }
    &-right {
        width: 50%;
        display: flex;
        gap: 16px;
        align-self: center;
        justify-content: flex-end;
    }
}

.heading {
    color: $colorPrimary800;
    @include text-wide(48px);
}

.heading-second {
    color: $colorPrimary800;
    @include text-wider(32px);
}

.pink {
    color: $colorSecondary500;
}